@font-face {
    font-family: 'clarendon-bold';
    src: url('css/fonts/clarendon-bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'ClarendonTextExpert-Bold';
    src: url('css/fonts/ClarendonTextExpert-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'ClarendonTextFractions-Bold';
    src: url('css/fonts/ClarendonTextFractions-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'ClarendonTextW01-BoldTF';
    src: url('css/fonts/ClarendonTextW01-BoldTF.ttf') format('truetype'),
}

@font-face {
    font-family: 'ITCBodoni12Com-Book';
    src: url('css/fonts/ITCBodoni12Com-Book.ttf') format('truetype'),
}
@font-face {
    font-family: 'ITCBodoni12Com-BookItalic';
    src: url('css/fonts/ITCBodoni12Com-BookItalic.ttf') format('truetype'),
}

@font-face {
    font-family: 'SabonLTPro-Roman';
    src: url('css/fonts/SabonLTPro-Roman.otf') format('opentype'),
}

@font-face {
    font-family: 'Sabon-Roman';
    src: url('css/fonts/Sabon_Roman.ttf') format('opentype'),
}


@font-face {
    font-family: 'Berthold-akzidenz-grotesk-be-regular';
    src: url('css/fonts/Berthold-akzidenz-grotesk-be-regular.ttf') format('truetype'),
}
