$screen-mobile        :  450px;
$screen-portrait      :  768px;
$screen-landscape     :  992px;
$screen-desktop       :  1200px;
$screen-bigdesktop    :  1500px;
$brand-primary        : #4e362a;
$brand-secondary      : #808080;

$primary-font         : 'clarendon-bold', serif;
$secondary-font       : 'SabonLTPro-Roman', sans-serif;
$tertiary-font        : 'ITCBodoni12Com-Book', serif;


$font-bert            : 'akzidenz-grotesk', sans-serif;

$pf-medium            : 'DINProMedium';
$pf-bold              : 'DINProBold';
$fontbodital          : 'ITCBodoni12Com-BookItalic', serif;
$sf-medium            : 500;
$sf-bold              : 700;
$sf-black             : 900;

$gray-light           : #f7f7f9;
$gray                 : #AAA;
$gray-dark            : #282828;

$font-color           : #808080;
